<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{header.html :: head(tituloPagina='PM - Tu negocio de moda')}"></head>

<body>
<nav th:replace="~{navbar.html :: navbar}"></nav>

<div class="container-fluid m-0 p-0 g-0">
    <div class="row justify-content-center m-0">
        <div class="col-md-4">
            <img src="/recursos/imgs/PM-Index.png" class="img-fluid">
        </div>
        <div class="col-lg-4">
            <div class="text-center">
                <div class="row m-0">
                    <div th:if="${tipoUser == 2}" th:remove="tag">
                        <a class="btn btn-secondary btn-lg fuente-botones-index m-xl-4 my-3" href="catalogoropa" role="button">Editar catálogo</a>
                        <a class="btn btn-secondary btn-lg fuente-botones-index m-xl-4 my-3" href="producto" role="button">Agregar producto</a>
                        <a class="btn btn-secondary btn-lg fuente-botones-index m-xl-4 my-3" href="listadousuarios" role="button">Listado de usuarios</a>
                        <a class="btn btn-secondary btn-lg fuente-botones-index m-xl-4 my-3" href="listadoproductostotal" role="button">Listado de compras</a>
                    </div>

                    <div th:if="${tipoUser != 2}" th:remove="tag">
                        <a class="btn btn-secondary btn-lg fuente-botones-index m-xl-4 my-3" href="catalogoropa" role="button">Ver catálogo</a>
                    </div>

                    <a class="btn btn-secondary btn-lg fuente-botones-index m-xl-4 my-3" href="info" role="button">Sobre nosotros</a>
                    <a class="btn btn-secondary btn-lg fuente-botones-index m-xl-4 my-3" href="perfil" role="button">Mi Perfil</a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{footer.html :: footer}"></footer>
</body>
</html>