body{
    background-color: #c3d636;
}

.bg-gris{
    background-color: rgb(187, 181, 181);
}

.bg-negro{
    background-color: black;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fuente-navbar-brand{ 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    font-weight: 700;
    font-size: x-large;
}

.fuente-titulo-quienesSomos{ 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    font-weight: 700;
    font-size: x-large;
    font-size: 4em;
}

.fuente-botones-index{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-weight: 700;
    font-size: 2.5rem;
}

.fuente-navbar-estandar{
    color: aliceblue;
}

.bg-verde{
    background-color: #c3d636;
}