<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{header.html :: head(tituloPagina='PM - Catálogo')}"></head>
<body>
<nav th:replace="~{navbar.html :: navbar}"></nav>

<div class="container-fluid bg-negro p-5" style="min-height: 100vh;">
    <div class="d-flex justify-content-between align-items-center mb-4 text-white">
        <h2>Catálogo de Productos</h2>
    </div>

    <div class="table-responsive rounded-3 shadow-lg">
        <table class="table table-dark table-hover align-middle">
            <thead class="table-secondary text-dark">
            <tr>
                <th>Nombre</th>
                <th>Marca</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Stock</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="producto : ${productos}">
                <td th:text="${producto.nombre}"></td>
                <td th:text="${producto.marca}"></td>
                <td th:text="${producto.descripcion}"></td>
                <td th:text="'$' + ${producto.precio}"></td>
                <td th:text="${producto.stock}"></td>
                <td>
                    <div th:if="${usuarioIngresado and tipoUser == 2}" class="d-flex gap-2 justify-content-center">
                        <a th:href="@{/editarProducto(id_producto=${producto.id_producto})}" class="btn btn-info btn-sm w-50">
                            Editar
                        </a>
                        <a th:href="@{/eliminarProducto(id_producto=${producto.id_producto})}" class="btn btn-danger btn-sm w-50">
                            Eliminar
                        </a>
                    </div>

                <td>
                    <div th:if="${usuarioIngresado and tipoUser == 1}">
                        <a th:href="@{/comprar(id_producto=${producto.id_producto})}"
                           class="btn btn-success btn-sm w-100"
                           th:disabled="${producto.stock <= 0}">
                            Comprar
                        </a>
                    </div>

                    <div th:if="${!usuarioIngresado}" class="text-center">
                        <a href="/inicioSesion" class="btn btn-outline-warning btn-sm w-100">Iniciá sesión para comprar</a>
                    </div>
                </td>


                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:replace="~{footer.html :: footer}"></footer>
</body>
</html>