<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{header.html :: head(tituloPagina='PM - Mis Compras')}"></head>
<body>
<header th:replace="~{navbar.html :: navbar}"></header>
<div class="container bg-negro p-5 my-5">
    <p class="fuente-botones-index text-white fs-2">Compras realizadas por: [[${perfilLogueado.nombre}]] [[${perfilLogueado.apellido}]]</p>
    <div class="table-responsive mt-4">
        <table class="table table-dark table-hover">
            <thead>
            <tr>
                <th>Número de compra</th>
                <th>Fecha</th>
                <th>Valor</th>
                <th>Detalle</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reg : ${registroCompras}">
                <td th:text="${reg.id_compra}"></td>
                <td th:text="${reg.fecha}"></td>
                <td th:text="'$ ' + ${reg.monto}"></td>
                <td>
                    <a th:href="@{/masInfoUser(id_compra=${reg.id_compra})}" class="btn btn-sm btn-outline-info">Ver productos</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>