<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
   version="6.0">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <filter>
        <filter-name>filter1</filter-name>
        <filter-class>Filters.Filter1</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>filter1</filter-name>
        <url-pattern>/perfil</url-pattern>
        <url-pattern></url-pattern>
    </filter-mapping>
    
    <servlet>
        <servlet-name>RegistroServlet</servlet-name>
        <servlet-class>Servlets.RegistroServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>Servlets.LogOutServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>InicioSesionServlet</servlet-name>
        <servlet-class>Servlets.InicioSesionServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>QuienesSomosServlet</servlet-name>
        <servlet-class>Servlets.QuienesSomosServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PerfilServlet</servlet-name>
        <servlet-class>Servlets.PerfilServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegistroServlet</servlet-name>
        <url-pattern>/registro</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>InicioSesionServlet</servlet-name>
        <url-pattern>/inicioSesion</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/cerrarsesion</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>QuienesSomosServlet</servlet-name>
        <url-pattern>/info</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PerfilServlet</servlet-name>
        <url-pattern>/perfil</url-pattern>
    </servlet-mapping>

</web-app>
